/* Main CSS */

* {
  box-sizing: border-box;
}

::selection {
  background: white;
  color: black;
}

html {
  color: #333;
  font-family: "Courier New", Courier, monospace;
}

body { margin: 0 }

/* Nav */
nav {
  background: black;
  display: flex;
  flex-direction: column;
}

nav a {
  border-bottom: solid 1px #333;
  color: rgba(255, 255, 255, 0.7);
  line-height: 3em;
  text-decoration: none;
}

nav a:not(:first-child) {
  display: none;
  padding-left: 1em;
}

nav a:first-child:before, nav a:first-child:after {
  content: '▼';
  font-size: 1.5em;
  padding: .2em .7em;
  position: absolute;
}
nav a:first-child:after {
    right: 0;
    top: 0;
}

nav a:hover {
    background: white;
    color: black;
}

#nav-logo {
  display: block;
  margin: .5em auto;
  transform: rotate(-4deg);
  width: 6em;
}

#main-nav:hover a {
  display: flex;
}

/* Header */
.main-header {
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    padding: 2em;
    position: relative;
    overflow: hidden;
}

.main-header img {
    filter: grayscale(100%) blur(2px);
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(1.1); /* Fixes white border */
    width: 100%;
    z-index: -1;
}


/* Main */
main {
  align-content: flex-start;
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1em 0;
    position: relative;
}

main p {
  margin-left: 1em;
  width: 100%;
}


/*Code Console*/
.console {
  background: black;
  border-radius: .5em;
  color: white;
  display: block;
  margin: 1em;
  overflow: auto;
  position: relative;
}
.console:before{
  border-radius: .5em .5em 0 0;
  content: 'Content';
  display: block;
  margin-bottom: 1em;
  padding: .7em;
  text-align: center;
}
.console:after{
  content: '⬤ ⬤ ⬤';
    position: absolute;
    top: .6em;
    left: 0.7em;
}



/* TESTING */