/* Main CSS */

* {
  box-sizing: border-box;
}

::selection {
  background: black;
  color: white;
}

html {
  color: #333;
  font-family: "Courier New", Courier, monospace;
}

body { margin: 0 }

/* Nav */
nav {
  background: black;
  display: flex;
  flex-direction: column;
}

nav a {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  line-height: 3em;
  text-decoration: none;
}

nav a:not(:first-child) {
  border-bottom: solid 1px #333;
  display: none;
  padding-left: 1em;
}

nav a:first-child:before, nav a:first-child:after {
  content: '☰';
  font-size: 1.5em;
  padding: .3em .7em;
}

#nav-logo {
  display: inline;
  margin: .5em auto;
  width: 6em;
}

nav a:hover {
    background: white;
    color: black;
}

#main-nav:hover a {
  display: flex;
}

/* Header */
header {
    color: black;
    margin: 0;
    overflow: hidden;
    padding: 1em 2em;
    position: relative;
    word-spacing: -2em;
    text-align: center
}

header img {
    filter: grayscale(100%) blur(1px);
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    transform: scale(1.1); /* Fixes white border */
    width: 100%;
    z-index: -1;
}

header h1 span {
    background: rgba(255,255,255,.8);
    display: inline-block;
    padding: .2em;
  text-shadow: 2px 2px #fff;
    box-shadow: .2em .1em 0 fuchsia, -.2em -.1em 0 cyan;
    -webkit-animation: skewNow 1s infinite;
}
header h1 span:before {
    
}

@keyframes skewNow {
  0%   { transform: skew(0deg, 0deg);}
    50%   { transform: skew(-4deg, -00deg);}
  100% { transform: skew(0deg, 0deg); }
}


/* Main */
main {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
}


main img {
    box-shadow: 0 0 .5em gray;
    display: block;
    filter: grayscale(100%);
    margin: 3em  auto;
    transition: .2s ease-in;
    width: 100%;
}



/*Code Console*/
.console {
  background: black;
  border-radius: .5em;
  color: white;
  display: block;
  overflow: auto;
  position: relative;
}
.console:before{
  border-radius: .5em .5em 0 0;
    content: "Here's some content";
  display: block;
  margin-bottom: 1em;
  padding: .7em;
  text-align: center;
}
.console:after{
  content: '⬤ ⬤ ⬤';
    position: absolute;
    top: .6em;
    left: 0.7em;
}

/* Media Queries */


@media only screen and (min-device-width: 768px)
{

    main {
        margin: 0 10%;
    }

    
}

@media only screen and (min-width: 1280px)
{
    main {
        margin: 0 20%;
    }
}






































